<html>

<head>
{{>styleing}}
</head>
<body>
    
{{>header}}
    <div id="main-content">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8">
      
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">My cart</h2>
                    <div class="post-content">
                      
                     {{#each data}}
                     <hr>
                        <div class="row">

                              <div class="col-md-4">
                                  <a class="post-img" href='/single'><img src="{{this.productId.images.[0]}}" alt=""/></a>
                              </div>
                              <div class="col-md-8">
                                  <div class="inner-content clearfix">
                                      <h3><a href='/single'>{{this.productId.productname}}</a></h3>
                                    
                                            <table class='description-table'>
                                <tr>
                                  <td><b>Product name</b></td>
                                  <td>{{this.productId.productname}}</td>
                                </tr>
                                 <tr>
                                  <td><b>batch id</b></td>
                                  <td>{{this.productId.batchid}}</td>
                                </tr>
                                 <tr>
                                   <td><b>Description</b></td>
                                   <td>{{this.productId.description}}</td>
                                 </tr>
                                 <tr>
                                   <td><b>Price</b></td>
                                   <td>{{this.productId.price}}</td>
                                </tr>
                                 <tr>
                                   <td><b>Gst</b></td>
                                   <td>{{this.productId.gst}}%</td>
                                </tr>
                                 <tr>
                                   <td><b>Net Price</b></td>
                                   <td>{{this.productId.total_price}}</td>
                                </tr>
                              </table>
                                    <br>
                                    
                                      <a class='read-more pull-left' href='/delete-cart-product?id={{this._id}}'>Remove from cart</a>
                                      <a class='read-more pull-right' href='/order'>Order</a>
                                  </div>
                            </div>
                        </div>
                         {{/each}}
                    </div>
       
                    
                    
                   
                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
</body>
</html>
