<html>
    <head>
{{>styleing}}

</head>
<body>
    {{>header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-12">
                  <!-- post-container -->
                <div id='order-msg'>

                </div>
                    <div class="post-container">
                        <div class="post-content single-post">
                        
                    
                            <div class="post-information container order-container">
                               <div class="order-img row ">
                                   <div class="col-md-1 side-images">
                                       {{#each product.[0].images}}
                                        <img class='view-img' src="{{this}}">
                                       {{/each}}
                                   </div>
                                <div class="col-md-3 img-container">
                                <img id='order-img' src="{{product.[0].images.[0]}}">
                       
                                 </div>
                                 <div class="col-md-1"></div>
                                  <div class="col-md-5 orders-detail">
                                    <h4>{{product.[0].product}}</h4>
                                    <p>{{product.[0].product_cat}}</p>
                                    <p>Rs.{{product.[0].total_price}}</p>
                                    
                                 <div class="col-sm-3">
                                    <input type="hidden" name="product_id"  id="product_id" value="{{product.[0]._id}}">
                                    <input type="hidden" name="customer_id" id="customer_id" value="{{customerData.[0]._id}}" >

                                    <input type="text" class="form-control" name='cat' id="category" placeholder="/ench">
                                    <p id='err_cat'></p>
                                    </div>
                                 
                                   <div class="col-sm-3">
                                    <input type="text" class="form-control" name='class' id="class" placeholder="class*">
                                <p id='err_class'></p>
                                 
                                 </div>
                                 <div class="col-sm-3">
                                    <input type="number" class="form-control" name="qty" id='qty' placeholder="#Qty">                 
                                <p id='err_qty'></p>

                                 </div>
                                 <br>
                                   <hr>
                                   <div class="col-md-12">
                                       
                                    <p> * only Cash on delivery</p>
                                    <p> * no return policy</p>
                                    <p> * extra delivery charges</p>   
                                   </div>
                                   <br>
                                   <h4>Personal Details</h4>
                                   
                                    <p>Delivery Address:</p>
                                    {{#each customerData}}
                                    <p>{{this.Address}}</p>
                                    {{/each}}
                                    <a class="read-more pull-left change-address"   href="#">Change Address</a>
                                  <br>
                                   <hr>
                                 <a class="read-more pull-left confirm-order" data-id="{{product.[0]._id}}" href="#">Confirm Order</a>                              
                               
                               </div>
                               </div> 
                                  <input type="hidden" id="cart_id" value="{{cart_id}}" >
                            </div>
                           
                        
                           <hr>
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
    </div>
    <script src="./jquery.min.js"></script>
    <script>
        $('.view-img').click(function(){
             let src=$(this).attr('src');
             const order_img=document.getElementById('order-img');
          
             order_img.src=src;
        });
        $('.cancle-order').click(function(){
             let id=$(this).data('id');
             $.ajax({
                 url:'/delete-order',
                 type:'post',
                 data:{id},
                 success:function(data){
            
                  if(data==1){
                  window.location.assign('/order'); 
                  }
                }
             })
        });
        $('.confirm-order').click(function(){
            let cart_id=$('#cart_id').val();
            let product_id=$("#product_id").val();
            let customer_id=$("#customer_id").val(); 
            let qty=$('#qty').val();
            let pclass=$('#class').val();
            let  category=$('#category').val();
         if(category==''){
            $('#order-msg').html("<p style='font-size:larger;color:red;border:1px solid #dddd;padding:10px;text-align:center;background-color:lightpink;'>Please enter category</p>");

         }else if(pclass==''){
            $('#order-msg').html("<p style='font-size:larger;color:red;border:1px solid #dddd;padding:10px;text-align:center;background-color:lightpink;'>Please enter class</p>");


         }else if(qty==''){
            $('#order-msg').html("<p style='font-size:larger;color:red;border:1px solid #dddd;padding:10px;text-align:center;background-color:lightpink;'>Please enter qty</p>");



         }else{


            $.ajax({
                url:"/confirm-order",
                type:"POST",
                data:{product_id,customer_id,qty,pclass,category,cart_id},
                success:function(data){
                  if(data==1){

                    window.location.assign('/order'); 
                  $('#order-msg').html("<p style='font-size:larger;color:green;border:1px solid #dddd;padding:10px;text-align:center;background-color:lightgreen;'>Your Orders is Confirmed</p>");
                    }

                }
            })
         }
             $('#order-msg').click(function(){
                 $(this).hide();
             });
  
        });
    </script>
</body>
</html>
