<html>
    <head>
{{>styleing}}

</head>
<body>
    {{>header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-12">
                  <!-- post-container -->
                <div id='order-msg'>

                </div>
                    <div class="post-container">
                        <div class="post-content single-post">
                        
                    
                            <div class="post-information container ">
                               <div class="order-img row ">
                                   <div class="col-md-1 side-images">
                                       {{#each product.[0].productId.images}}
                                        <img class='view-img' src="{{this}}">
                                       {{/each}}
                                   </div>
                                <div class="col-md-3 img-container">
                                <img id='order-img' src="{{product.[0].productId.images.[0]}}">
                       
                                 </div>
                                 <div class="col-md-1"></div>
                                  <div class="col-md-5 orders-detail">
                                    <h3>{{product.[0].productId.product}}</h3>
                                    <p style="display: none;" id='category_name'>{{product.[0].sub_category.category_name}}</p>
                                    <p style="display: none;" id='category_value'>{{category_value}}</p>
                                    <div class="sub_catagory_div">

                                    </div>
                                    {{!-- <p>Qty:-{{product[0].}}</p> --}}
                                    <div class="col-md-3">
                                    <input type="number" class='form-control'id='qty' value="{{qty}}" placeholder="Qty">
                                     </div>
                                     <input type="hidden" id='price' value={{product.[0].total_price}}>
                       
                                    <p id='total_price' data-price={{price}}>Rs.{{price}}</p>
                                    
                                 <div class="col-sm-3">
                                    <input type="hidden" name="product_id"  id="product_id" value="{{product.[0].productId._id}}">
                                    <input type="hidden" name="customer_id" id="customer_id" value="{{customerData.[0]._id}}" >
                                    <input type="hidden" name="categoryId" id='categoryid' value="{{product.[0].productId.category}}">
                                    <input type="hidden" name="cartid" id='cartid' value="{{cartid}}">
                                 </div>
                                 <br>
                                   <hr>
                                   <div class="col-md-12">
                                       
                                    <p> * only Cash on delivery</p>
                                    <p> * no return policy</p>
                                    <p> * extra delivery charges</p>   
                                   </div>
                                   <br>
                                   <h4>Personal Details</h4>
                                   
                                    <p>Delivery Address:</p>
                                    {{#each customerData}}
                                    <p>{{this.city}},{{this.state}}</p>
                                    <p>{{this.Address}},{{this.city}},{{this.area_code}}</p>
                                 
                                   {{/each}}
                                    <a class="change-address btn btn-primary"   href="#">Change Address</a>
                                     
                                  <br>
     
                                                       
                            <a class="read-more pull-left confirm-order"  data-shopid={{product.[0].shopId}} href="#">confirm-order</a>

                               </div>
                             
                               </div> 
                                 
                                  <input type="hidden" id='productid' value="{{product.[0]._id}}"
                          
                              </div>
                           
                           <hr>
                        </div>
                       
                    </div>
                      
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
        <div class="col-md-12 order-shop-div" style="margin-top: 20px;margin-bottom:20px;padding:10px;background-color:white">
                         
                    
                        </div>
    </div>
    {{>footer}}
    </body>
    
    <script src="./jquery.min.js"></script>
    <script>
        $('.view-img').click(function(){
             let src=$(this).attr('src');
             const order_img=document.getElementById('order-img');
          
             order_img.src=src;
        });

     let category_name=$('#category_name').text();
    
     let category_value=$('#category_value').text();
       
    if(category_name=='kg' || category_name=='Kg' || category_name=='KG'){
     $('#qty').attr('placeholder',category_name)
        $('#qty').val(category_value)
    
    }else{
        category_name=category_name.split(',');
     category_value=category_value.split(',');
     let printCategory='<div>';
        let sc=0;
      category_name.forEach(name=>{
         printCategory=printCategory.concat(`<p>${name}:-${category_value[sc]}</p>`)
         sc++;
         
      })
       printCategory=printCategory.concat('</div>');
       $('.sub_catagory_div').html(printCategory)
    }
     

    $('#qty').keyup(function(){
       let qty = $(this).val();
       if(qty<=0){
           return;
            $('#total_price').text(`Rs.${price}`);
       }
        let price= $('#price').val();
       
        let totalprice= $('#total_price').data('price');
       
         $('#total_price').text(`Rs.${price*qty}`);

     });

        $(document).on('click','.confirm-order',function(){
            let cart_id=$('#cartid').val();
            let product_id=$("#product_id").val();
            let customer_id=$("#customer_id").val(); 
            let qty=$('#qty').val();
            let total_price= $('#total_price').text();
                total_price=total_price.replace('Rs.','');
                
            
            let  categoryid=$('#categoryid').val();
            let  shopid=$(this).data('shopid');
           
                   fetch('/confirm-order',{
       method:'POST',
       headers:{
           'Content-Type':'application/json'
       },
       body:JSON.stringify({
          category_name:category_name,
          category_value:category_value,
          categoryId:categoryid,
          customerid:customer_id,
          shopid,
          product_id,
          price,
          qty,
          total_price,
          cart_id,
          
       })
          
 }).then((result)=>{
     
  window.location.assign('/order')
 }).catch((err)=>{

 })
     
             $('#order-msg').click(function(){
                 $(this).hide();
             });
  
        });
       
          $('.change-address').click(function(){
           let customer_id=$("#customer_id").val();
           
           let address=prompt('Enter Your New Address:');
            if(address==null){
                return;
            }
           $.ajax({
               url:'/edit-address',
               type:"POST",
               data:{customer_id,address},
               success:function(data){
                    if(data==1){
                        window.assign.location('/insert-order');

                    }
               }
                          
        }) 

    });
   
     
     </script>
</body>
</html>
