

<html>
    <head>


</head>
<body>
    {{>admin_header}}
    
        
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
  

      <!-- Tab panes -->

        <div role="tabpanel" class="tab-pane" id="register">
          <div class="modal-header">
            <h5><b>Edit Product</b></h5>
          </div>
          <div class="modal-body">
            <form action='/updated-product' method='POST'  class="row" id='productform'>
                  <div class="form-group col-sm-12 ">
               <label>Select Category</label>
               <select name='categoryname' id='category' class="form-control">
                 <option selected disabled>Select Category</option>
                 {{#each category}}
                   {{#if_eq this._id  product.[0].category}}
                      <option  value="{{this._id}}">{{this.categoryname}}</option>
                   
                      
                      {{/if}} 
                   {{/each}}
               </select>
             </div>
                <div class="form-group col-sm-12">
          
                  <label for="product-name">Product name</label>
                 <input type="text" class='form-control'  id="company-name" name="product" value="{{product.[0].product}}"/>
                
                 <input type="hidden" id='productid' name="productid" value="{{product.[0]._id}}"/>
                
                </div>
             
                    <div class="form-group col-sm-12">
                  <label for="category">Description</label>
                  <textarea type="text" class="form-control" value='{{product.[0].description}}' name="category" id="company-name" placeholder="Description*"></textarea>
                </div>
                    
                
               
               
            <br>
                   
                    <button type="submit" class="btn btn-grey create-account" id='add-product'>Update Product</button>
    <hr>
            
              
            </form>
           
          </div>
        </div>
      </div>
    </div>
  
<script src="./jquery.min.js"></script>
<script src="./file.js"></script>

<script>
  
</script>
</body>
</html>