<html>
    <head>
{{>styleing}}

</head>
<body>
    
    {{>seller_header}}
     
   
    <div id="main-content">
     
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-12">
                  <!-- post-container -->
                
                    <div class="post-container">
                        <div class="post-content single-post">
                        
                    
                            <div class="post-information container ">
                               <div class="order-img row ">
                                   <div class="col-md-1 side-images">
                                       {{#each data.[0].productId.images}}
                                        <img class='view-img' src="{{this}}">
                                       {{/each}}
                                   </div>
                                <div class="col-md-3 img-container">
                                <img id='order-img' src="{{data.[0].productId.images.[0]}}">
                       
                                 </div>
                                 <div class="col-md-1"></div>
                                  <div class="col-md-5 orders-detail">
                                    <h4>{{data.[0].productId.product}}</h4>
                                     <p style="display: none;" id='category_name'>{{data.[0].sub_category.category_name}}</p>
                                    <p style="display: none;" id='category_value'>{{data.[0].sub_category.category_value}}</p>
                                  <div class="sub_catagory_div">

                                  </div>
                                    <p>Qty.{{data.[0].qty}}</p>     
                                    <p>Rs.{{data.[0].price}}</p>
                           
                                   <hr>   
                                   <div class="col-md-10 orders-detail">
                                   <h4>Customer Details</h4>
                                   <p><b></b>{{data.[0].userId.name}}</p>
                                   <p><b></b>{{data.[0].userId.email}}</p>
                                   <p><b></b>{{data.[0].customerId.mobile_no}}</p>
                                   <p><b></b>{{data.[0].customerId.city}}</p>
                                   <p><b></b>{{data.[0].customerId.state}}</p>
                                 
                                    <p><b>Delivery Address:</b></p>
                                    <p>{{data.[0].customerId.Address}},{{data.[0].customerId.area_code}}</p>
                                    </div>
                                    <input type="hidden" id="city" value="{{data.[0].customerId.city}}">
                                    <input type="hidden" id="state" value="{{data.[0].customerId.state}}">
                                    <input type="hidden" id="custid" value="{{data.[0].customerId._id}}">
                                    <input type="hidden" id="prodid" value="{{data.[0].productId._id}}">
                                    <input type="hidden" id="ordid" value="{{data.[0]._id}}">
                                 
                               </div>
                               
                               
                               </div> 
                              

                            </div>
                           
                        
                           <hr>
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
        <div id='load-single-shop'>

        </div>
     
    </div>
    <script src="./jquery.min.js"></script>
    <script>
        $('.view-img').click(function(){
             let src=$(this).attr('src');
             const order_img=document.getElementById('order-img');
          
             order_img.src=src;
        });
         
       let category_name=$('#category_name').text();
    
     let category_value=$('#category_value').text();
    
     category_name=category_name.split(',');
     category_value=category_value.split(',');
     let printCategory='<div>';
        let sc=0;
      category_name.forEach(name=>{
         printCategory=printCategory.concat(`<p>${name}:-${category_value[sc]}</p>`)
         sc++;
     }) 
    printCategory=printCategory.concat('</div>');
    $('.sub_catagory_div').append(printCategory);
              
       
    </script>
</body>
</html>
