<html>
    <head>
{{>styleing}}

</head>
<body>
    {{>header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-12">
                  <!-- post-container -->
                    <div class="post-container">
                        <div class="post-content single-post">
                        
                    
                            <div class="post-information container order-container">
                               <div class="order-img row ">
                                   <div class="col-md-1 side-images">
                                       {{#each product.[0].images}}
                                        <img class='view-img' src="{{this}}">
                                       {{/each}}
                                   </div>
                        <div class="col-md-3 img-container">
                         <img id='order-img' src="{{product.[0].images.[0]}}">
                       
                               </div>
                               <div class="col-md-1"></div>
                               <div class="col-md-5 orders-detail">
                                   <h4>{{product.[0].product}}</h4>
                                   <p>{{product.[0].product_cat}}</p>
                                    <p>Rs.{{product.[0].total_price}}</p>
                                    
                                 <div class="col-sm-3">
                         
                                <input type="number" class="form-control" name='cat' id="category" placeholder="/ench">
                                 </div>
                                 
                                   <div class="col-sm-3">
                  
                                <input type="number" class="form-control" name='class' id="class" placeholder="class*">
                                 </div><br>
                                   <hr>
                                   <div class="col-md-12">
                                       
                                       <p> * only Cash on delivery</p>
                                       <p> * no return policy</p>
                                       <p> * extra delivery charges</p>   
                                   </div>
                                   <br>
                                   <h4>Personal Details</h4>
                                   
                                   <p>Delivery Address:</p>
                                   {{#each customerData}}
                                   <p>{{this.Address}}</p>
                                   {{/each}}
                                 <a class="read-more pull-left change-address"   href="#">Change Address</a>
                                 <br>
                                  <hr>
                                <a class="read-more pull-left order" data-id="{{this._id}}"   href="#">Confirm Order</a>                              
                                <a class="read-more pull-left cancle-order"  data-id={{this._id}}  href="#">Cancel Order</a>
                               </div>
                               </div> 
                               
                            </div>
                           
                        
                           <hr>
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
    </div>
    <script src="./jquery.min.js"></script>
    <script>
        $('.view-img').click(function(){
            let src=$(this).attr('src');
            const order_img=document.getElementById('order-img');
          
            order_img.src=src;
        });
        $('.cancle-order').click(function(){
            let id=$(this).data('id');
             $.ajax({
                 url:'/delete-order',
                 type:'post',
                 data:{id},
                 success:function(data){
                     alert(data)
              if(data==1){
           window.location.assign('/order'); 
     }
                 }
             })
        })
    </script>
</body>
</html>
