<html>

<head>
{{>styleing}}
<script src="./rating.js" type='text/javascript' ></script>
</head>
<body>
    {{>header}}

    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
          
            <div class="col-md-12">
         
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">Types of</h2>
                    <div class="post-content">
                     <div class="row">
        {{#each data}}  
<div class="products">
    <div id='product'>
      <img src='{{this.images.[1]}}' alt='product'>

    </div>
       <div id='product-content'>
         <h6>(<b>{{this.categoryname}}</b>)</h6>
         <h6><b>Rs.{{this.total_price}}</b></h6>
         <span><button id='cart' data-id='{{this._id}}' data-cat_id='{{this.categoryId._id}}'>Add to cart</button></span>
      </div>
    </div>
    {{/each}}

                         </div> 
                      </div>                         
  
       </div>
    </div>
</div>
</div>
</div>
</body>
</html>
