<html>

<head>
{{>styleing}}
<link rel="stylesheet" href="./login.css">
</head>
<body>
    {{>login}}
{{>header}}

    <div id="main-content">
      <div class="container-fluid">
        <div class="row main-container">
                
                <!-- post-container -->
                  
  
  <div class="container-fluid" style="padding:10px;">
    <div id='product-title'> Products</div>
    {{#each data}}
  <div class="products" data-id={{this._id}}>
    <div id='product'>
     <a href="/single-product?product_id={{this._id}}">
     <img src='{{this.images.[0]}}' alt='product'>
     </a>
    </div>
    <div id='product-content'>
    <h6><b>{{this.product}}</b></h6>
    <h6><b>Rs.{{this.total_price}}</b></h6>
    
        </div>
  </div>
  
  {{/each}}
  </div>
  </div>
  {{>footer}}
  <script src='./jquery.min.js'></script>
  <script src="./popup.js"></script>
  <script src="./add-cart.js"></script>
<script>
  $(document).ready(function(){
    $('.products').click(function(){
      let id=$(this).data('id');
      
         $.ajax({
           url:'/single-product',
           type:'POST',
           data:{id},
           success:function(data){
             
           }
         })
    });
  });
</script>

