<html>
    <head>
{{>styleing}}

</head>
<body>
    {{>header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-12">
                  <!-- post-container -->
                    <div class="post-container">
                        <div class="post-content single-post" style='padding:20px;height:max-content;'>
                           {{#each data}} 
                    
                            <div class="post-information container ">
                               <div class="order-img row">
                                   <div class="col-md-1 side-images">
                                     {{#each this.images}}
                                        <img class='view-img' src="{{this}}">
                                      
                                      {{/each}}
                                   </div>
                        <div class="col-md-3 img-container">
                         <img id='order-img' src="{{this.images.[0]}}">
                       
                            
                                 <a class="read-more pull-left cart"   href="#">Add to Cart</a>
                                
                                                              
                                 <a class="read-more pull-left order"   href="#">Order</a>
                       
                               </div>
                               <div class="col-md-1"></div>
                               <div class="col-md-5 orders-detail">
                                   <h3>{{this.product}}</h3>
                                   <h5>{{this.category.categoryname}}</h5>
                                   <hr>
                                   
                                   <input type="hidden" id='product-category' value={{this.category._id}}> 
                                   <input type="hidden" id='productid' value={{this._id}} >
                                   <input type='hidden' id='shopid'>
                                   
                                   <div id='sub-category'>

                                   </div>
                                  
                                  
                                   <div class="form-group   col-md-3">
                                     <input type='number' class='form-control' id='qty' placeholder="Qty*" style="display: none;">
                                     
                                   </div>
                                     <div class="col-md-5">
                                        <h4 id='price'></h4>
                                      </div>
                                   <div class=" col-md-offset-1 col-md-3 gst-div">
                                     <button class="btn btn-primary cnt-gst" style="display: none;">Count Gst</button>
                                   </div>
                                   <div class="col-md-12">
                                   <h4>product Details <span id='up-down'><i class="fas fa-chevron-down"></i></span></h4>
                                   <hr>
                                   <input type='hidden' id='description' value="{{this.description}}">
                                   <div class="product-details" style="display: none;">
                                     
                                    
                                   
                                   </div>
                                  </div>
                                    </div>
                                 
                                  
                
              
                               <div>
                                
                                 <p>{{msg}}</p>
                               </div>
                               </div> 
                             
                               
                            </div>
                           
                           {{/each}}
                           
                            
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>
             
            </div>
        </div>
        <div class="col-md-12 order-shop-div" style="margin-top: 20px;margin-bottom:20px;padding:10px;background-color:white">
                         
                    
        </div>
    </div>
    <script src="./jquery.min.js"></script>
    <script src='./single.js'></script>
    
</body>
</html>
