<html>

<head>
{{>styleing}}

</head>
<body>
    
{{>seller_header}}
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-12">
                 
         
            </div>
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">product-list</h2>
                    <div class="post-content">
                           {{#each products}}
                        <div class="row" style="margin-bottom:10px;border:1px solid #dddddd;padding:50px;">

                            <div class="col-md-2">
                                <a class="post-img" href='/single'><img src="images/post-format.jpg" alt=""/></a>
                            </div>
                            <div class="col-md-8">
                                <div class="inner-content clearfix">
                                    <span id='post-details'>
                                        
                                       <table class="orders">
                                   
                                        <tr>
                                   <td>product Name</td>
                                   <td>{{this.productname}}</td>
                                   </tr>
                                         <tr>
                                   <td>Description</td>
                                   <td>{{this.description}}</td>
                                   </tr>
                    
                                        <tr>
                                   <td>Quantity</td>
                                   <td>{{this.qty}}</td>
                                   </tr>
                                   <tr>
                                   <td>Price</td>
                                   <td>{{this.price}}</td>
                                   </tr>
                                      <tr>
                                   <td>Gst(%)</td>
                                   <td>{{this.gst}}%</td>
                                   </tr>
                                  
                                    <tr>
                                   <td>Total Price(Gst%)</td>
                                   <td>{{this.total_price}}</td>
                                   </tr>
                                  
                                   </table> 
                                 </span>
                                 
                                 <button><a href="" >Add more</a></button>
                                </div>
                                      
                                   

                                </div>
                            </div>
                            {{/each}}
                                                    
                             <hr style='width:100%;color:black;'>
                            </div>
                          
                          
                        </div>
                    </div>
        
                    
                    
                   
                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
</body>
</html>


















